body{
    font-family: arial ;
    background-color: hsl(210, 16%, 85%);
}
 button{
    margin-top: 27px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 15px;
    background-color: rgba(13, 113, 21, 0.707);
    font-weight: bold;
    color: aliceblue;
    transform: background-color 0.25s;
}
button:hover{
    background-color: rgb(29, 176, 73);
}
h1{
    color: hsla(143, 87%, 21%, 0.822);
    text-transform: uppercase;
    filter: drop-shadow(0 0 5px rgb(6, 161, 42));
    font-weight: bold;
    margin-left: 26px;
  
}
input{
    font-size: 1.2em;
    text-align: center;
    padding: 6px;
    font-weight: bold;
    border-radius: 15px;
}
.label{
    font-size: 1.8em;
    font-weight: bold;
}
#DiceResult{
    font-size: 1.5em;
    font-weight: bold;
    margin: 25px;
  

}
#DiceImages img{
    width: 150px;
    margin: 5px;
    border-radius: 10px;

}
.form{
    text-align: center;
}